.location {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  width: 200px;
  height: 135px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  z-index: 9;
}

.fa-map-marker {
  padding-right: 6px;
}

.fa-map-marker, .show-coordinates {
  display: inline-block;
  vertical-align: middle;
}

.show-grid-value {
  font-size: 1.95rem;
}

.closed {
  width: 0;
}
