
/* Styles for Rmm Graph */
.d3-tip {
    font-family: Helvetica;
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.datapoint:hover{
    fill: steelblue;
}
.xlabel, .ylabel {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 20px;
}
.graphtitle {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 30px;
}

.brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

rect.background {
  fill: #ddd;
}